*{
    padding: 0;
    margin: 0;
}
  /*navbar*/
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    background-color: white;
    border-bottom: solid grey 1px;
    width: 100%;
    position: fixed;
    
}
.navbar__1 img{
    width: 140px;

}
.navbar__2{
    padding: 10px;
    
    border: solid black 1px;
    width: 400px;
    height: 30px;
    border-radius: 40px;
}
.navbar__2 input{
    border: none;
}
.navbar__2 input:focus{
    display: none;
}
.navbar__3{
    display: flex;
    gap: 20px;
}
.navbar__4{
    display: flex;
    gap: 20px;
    align-items: center;
}
.navbar__4 button{
    background-color: black;
    color:white;
    border-radius: 20px;
padding: 10px;   
}
/* sponsor*/
.sponsore__1 img{
    width: 100%;
}
/*stage3*/
.stage3{
    display: flex;
    background-color: #d3d3d3;
  
    padding: 20px;
    gap: 150px;
    align-items: center;
    
    
}
.stage3__1 img{
    width: 200px;
}

.stage3__2{
   width: 900px;
}

.stage3__3 button{
    width: 100px;
    height: 30px;
    border: solid black 1px;
    border-radius: 6px;

}
/*stage4*/
.stage4{
    padding: 20px;
}
.stage4__1{
    padding: 10px;
    display: flex;
    gap: 35px;
}
.stage4__1 img{
    width: 250px;
    
}